<!-- POST CART  -->
<form action="/cart" method="POST"> 
    <!-- TOKEN CSRF -->
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <input type="hidden" name="id" value="<%= item._id %>" > 
    <button class="btn" type="submit">Add to Cart</button>
    <!-- thẻ input được ẩn nhằm mục đích chỉ lấy id cua sản phẩm để đưa vào POST trong controller  -->
</form>