<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <section data-aos="fade" data-aos-delay="400" class="bg-dark-subtle shadow-sm py-5">
        <div class="container py-2">
            <div data-aos="fade-down" data-aos-delay="400" class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">OOPS</h2>
                    <h1 class="text-muted">Server is down. We are fixing the problem. Sorry for the inconvenience !!!</h1>
                </div>
            </div>
        </div>
    </section>
<%- include('./includes/end.ejs') %>