<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (code == "00") { %>
            <h1 style="text-align: center; margin: 3rem 0 auto;">Giao dịch thành công</h1>
        <% } else { %>
            <h1 style="text-align: center; color: red; margin: 3rem 0 auto">Giao dịch thất bại</h1>
        <% } %>
        <p style="text-align: center;">
            <a class="btn btn-default" href="/order">GO TO ORDER LIST</a>
        </p>
    </main>
<%- include('../includes/end.ejs') %>